.cs {
  height: 100%;
}
.cs-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $blue;
  line-height: 60px;
  color: #fff;
  z-index: 999;
  h1 {
    font-size: 16px;
  }
  .cs-logout {
    position: absolute;
    right: 20px;
    top: 0;
  }
}
.cs-nav {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 60px;
  height: 100%;
  .cs-nav-menu {
    height: 100%;
  }
}
.cs-login, .cs-register {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 332px;
  margin-left: -160px;
  .comp-header {
    text-align: center;
    font-size: 26px;
    padding: 30px 0;
  }
  .bd {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 3px;
  }
  .col {
    margin-bottom: 15px;
  }
  .title {
    margin-bottom: 5px;
  }
  .btn {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .csselect {
    width: 100%;
  }
  .goto {
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    margin-top: 16px
  }
}

.cs-login {
  height: 400px;
  margin-top: -200px;
}

.cs-register {
  height: 560px;
  margin-top: -280px;
}

.cs-main {
  padding-top: 80px;
  padding-left: 220px;
}

.cs-device-card {
  margin-bottom: 20px;
  .device-header {
    padding: 12px 20px;
    border-bottom: 1px solid $borderColor0;
  }
  .device-main {
    padding: 20px;
  }
}

.cs-device-add {
  .device-col {
    line-height: 40px;
    .name, .value {
      display: inline-block;
    }
    .name {
      width: 80px;
    }
    .value {
      width: 400px;
    }
    .el-select {
      width: 100%;
    }
  }
  .device-col + .device-col {
    margin-top: 10px;
  }
}
