.cs-header {
  width: 100%;
  background-color: $colorPrimary;
  line-height: 64px;
  color: #fff;
  z-index: 9999;
}
.cs-login, .cs-register {
  position: relative;
  top: 50%;
  left: 50%;
  .comp-header {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
  }
  .bd {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 3px;
  }
  .col {
    margin-bottom: 15px;
  }
  .title {
    margin-bottom: 5px;
  }
  .btn {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}

.cs-login {
  width: 332px;
  height: 400px;
  margin-left: -160px;
  margin-top: 200px;
  .goToRegister {
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    margin-top: 16px
  }
}

.cs-register {
  width: 332px;
  height: 400px;
  margin-left: -200px;
  margin-top: 200px;
}